<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoardApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <p class="notice text-info"><%= notice %></p>
	    <p class="alert text-info"><%= alert %></p>
    <%= yield %>
  </body>
</html>
